@page "/secured"
@using BlazorApp.Shared
@inject HttpClient Http

<h1>Azure Function Test</h1>

<h2>@result</h2>

@code {
    private string result = "temp value";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetStringAsync("/api/HelloYou?name=lysygrzyb");

            if (!string.IsNullOrEmpty(response))
                result = response;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

}