@page "/secured"
@using BlazorApp.Shared
@inject HttpClient Http

<h3>Add custom announcement</h3>

<div class="center">
    <label for="inputValue">URL:</label>
    <input type="text" id="inputValue" @bind="@InputValue"/>

    <br />
    <br />
    
    <button @onclick="AddAnnouncement">Add Announcement</button>
    
    <br />
</div>

@if (!string.IsNullOrEmpty(Result))
{
    <p>Result: @Result</p>
}

@code {
    
    private static string? InputValue { get; set; }
    private string? Result { get; set; }

    
    private async Task AddAnnouncement()
    {
        try
        {
            HttpContent requestBody = new StringContent($"${{\"name\": \"{InputValue}\"}}");
            var response = await Http.PostAsync("/api/GownoPsa", requestBody);

            Result = response.StatusCode.ToString();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

}